{{#if playing}}
    {{#if correct}}
        <div class="text-center">Yes! It only took me {{guesses}} guesses.</div>
        <div class='text-center'>Do you want to <button type="button" {{action 'start'}}>Play Again?</button></div>
        <div class= 'text-center'>{{input value=player_name placeholder='Your Name'}}<button type="button" {{action 'save-highscore'}}>Save Highscore!</button></div> 
    {{else}}
    <div class="text-center"> Is it {{guessValue}}?</div>
    <div class="text-center">
        <button type="button" {{action 'lower'}}>Lower</button>
        <button type="button" {{action 'correct'}}>Correct</button>
        <button type="button" {{action 'higher'}}>Higher</button>
    </div>
    {{/if}}
{{else}}
    <div class="text-center">Think of a number between 1 and 100 and then press <button type="button" {{action 'start'}}>Start!</button></div>
{{/if}}