/* Generic Stylings */
body {
    font-family: monospace;
    font-size: 12pt;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

a {
    color: #ffffff
}
/* Fixed Layout for the Application */
#app {
    max-width: 400px;
    background: #000000;
    border: 2px solid #143fff;
}

/* Header Styling */
header h1 {
    background: #143fff;
    color: #ffffff;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

header h1 a {
    text-decoration: none;
}

/* Main Game Area Styling*/
article {
    height: 400px;
    overflow: auto;
    color: #ffffff;
    padding: 0.5rem;
    position: relative;
}
article h2 {
    margin: 0;
}

/* Footer Styling */
footer {
    background: #143fff;
    color: #ffffff;
    font-size: 0.6rem;
    padding: 0.2rem 0.3rem;
}

footer:after {
    content: '';
    display: table;
    clear: both;
}
