<div class="text-center">
    <h2>High-scores</h2>
</div>
<ol>
    {{#each model as |item|}}
        <li>
            <div class="float-left">{{item.name}} &nbsp;</div>
            <div class="float-left">{{item.score}}</div>
        </li>
    {{/each}}
</ol>